@import "src/lib/style/atomicMixin";

.select-main-pentagon-component {
    @include flex;
    @include flex-col;
    @include flex-center;

    .select-main-pentagon-component__sentinel {
        width: 0px;
        height: 0px;
    }

    .decoration-canvas-component {
        clip-path: polygon(50% 0%, 98% 34%, 80% 91%, 20% 91%, 2% 34%);
    }
}
