@use "src/lib/style/variables";

.pentagram-node {
    --node: #{variables.$node_small}px;
    --offset: 0;
    --degrees: 0;
    @media only screen and (min-width: 500px) {
        --node: #{variables.$node_medium}px;
    }

    --calibrated: calc(var(--degrees) + #{variables.$pentagon_angle_calibrate});
    --transformX: calc(cos(var(--calibrated)) * var(--radius) - var(--node) * 0.5);
    --transformY: calc(sin(var(--calibrated)) * var(--radius) - var(--node) * 0.5);
    position: absolute;
    border-radius: 50%;
    transform: translate(var(--transformX), var(--transformY));
    background-color: rgb(var(--background-color));
    z-index: 1;
}

.pentagram-main-node {
    --radius: calc(var(--node) * 3);

    @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
            --degrees: calc(#{($i - 1) * variables.$pentagon_angle}); 
        }
    }
}

.pentagram-sub-node {
    --radius: calc(var(--offset-multiplier) * var(--node) * 3);
    cursor: move;
}

