@import "src/lib/style/atomicMixin";

.node-innteraction-modal-inner-cotainer {
    @include flex-col;
    @include flex-center;
    @include child-top-m(1rem);
    width: 100%;

    .node-interaction {
        @include flex;
        @include flex-center;
        @include rounded-lg;
        @include pointer;
        @include p-sm;
        width: 100%;
        background-color: rgb(var(--dark-gray));

        &.recover {
            background-color: rgba(var(--success), 0.5);
        }
        &.remove {
            background-color: rgba(var(--danger), 0.5);
        }
    }
}