@import "src/lib/style/atomicMixin";

.oeuvre-info-container {
    @include child-top-m(1.5rem);
    @include flex-col;
    @include flex-center;
    @include box-shadow-2(rgb(var(--font-color)));
    @include p-lg;
    @include rounded-lg;

    .oeuvre-main-container {
        @include flex;
        @include child-left-m(1rem);
        width: 100%;

        .cover-container {
            @include box-shadow-2(rgb(var(--font-color)));
            @include rounded-lg;
            width: 124px;
            height: 124px;
            object-fit: cover;
        }

        svg {
            @include stroke-sm((var(--font-color)));
            @include fill-sm(rgb(var(--font-color)));
            width: 50%;
            height: 50%;
        }
    }

    .description{
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}