.oeuvre-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    > :not(:first-child) {
        padding-top: 1.5rem;
    }

    @media only screen and (min-width: 500px) {
        flex-direction: row;
        
        > :not(:first-child) {
            padding-top: 0rem;
            padding-left: 1rem;
        }    
    }

    .cover-container {
        width: 200px;
        height: 200px;
        border-radius: 8px;
        object-fit: cover;
    }

    .data-container {
        display: flex;
        flex-direction: column;
        >:not(:first-child) {
            margin-top: 1rem;
        }
    }

    .description{
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}