.mini-profile-container {
    --size: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    > :not(:first-child) {
        margin-left: var(--size)
    }

    .profile-container {
        display: flex;
        align-items: center;
        > :not(:first-child) {
            margin-left: calc(var(--size) * 2);
        }
        .profile-image-container {
            width: calc((var(--size) * 4 ));
            height: calc((var(--size) * 4 ));
        }
    }

    &.md {
        --size: 0.75rem;
    }
}