@import "src/lib/style/atomicMixin";

.upsert-record-page-component {    
    .upsert-record-page-component__inner-container {
        @include flex;
        @include flex-col;
        @include child-top-m(calc(var(--base-size) * 0.75));
    }

    .upsert-record-page-component__title {
        font-size: calc(var(--base-size) * 1.5);
        margin: 0;
    }

    .upsert-record-page-component__message--pitfall {
        color: rgba(var(--danger), 0.9);
    }
}