@import "src/lib/style/atomicMixin";

.search-result-component {
    .search-result-component__inner-container {
        @include rounded-lg;
        border: 2px solid rgba(var(--font-color), 0.5);
    }

    &.search-result-component__inner-container--disabled {
        display: none;
    }

    .search-result-component__result-outer-container {
        border-bottom: 2px solid rgba(var(--font-color), 0.5);
        
        .search-result-component__result-inner-container {
            @include margin-(calc(var(--base-size) * 0.5));
        }

        .genre-info-card-component {
            @include margin-(calc(var(--base-size) * 1.25));
        }

        &:last-of-type {
            border-bottom: 0;
        }
    }

    .search-result-component__empty-result-message {
        @include flex;
        @include padding-(calc(var(--base-size) * 1));
        font-size: calc(var(--base-size) * 1.25);
    }
}