@import "src/lib/style/atomicMixin";

.inventory-modal-component__inner-cotainer {
    @include flex;
    @include flex-col;
    @include w-full;
    @include child-top-m(calc(var(--base-size) * 1));
    height: 300px;

    .inventory-modal-component__button--update {
        background-color: rgba(var(--info), 0.5);
    }

    .inventory-modal-component__button--delete {
        background-color: rgba(var(--danger), 0.5);
    }
}
