@import "src/lib/style/atomicMixin";

.pentagram-update-view-container {
    @include flex;
    @include flex-center;
    @media only screen and (min-width: 500px) {
        @include flex-col;
    }
    width: 100%;
    
    .update-action-container {
        @include flex-col;
        @include child-left-m(1rem);
        width: 100%;
        @media only screen and (min-width: 500px) {
            @include flex-row;
        }
    }
}

.oeuvre-search-view-container {
    @include flex-col;
    width: 100%;
}
