@use "src/lib/style/variables";

.selected-position-container {
    fill: rgba(var(--success), 0.9);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0 0;
    
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        border: 2px rgb(var(--font-color)) dashed;
        border-radius: 50%;
    }
  
    svg {
        width: 50%;
    }
}

