@import "src/lib/style/atomicMixin";
@import "src/lib/style/mixin";

.oeuvre-node-component {
    .oeuvre-node-component__cover-container {
        @include flex-col;
        @include flex-center;
        min-width: 100%;
        max-width: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
    }
}
