@use "src/lib/style/variables";

.oeuvre-node-container {
    --node: #{variables.$node_small}px;
    @media only screen and (min-width: 500px) {
        --node: #{variables.$node_medium}px;
    }

    .oeuvre-cover-container {
        width: var(--node);
        height: var(--node);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;    
        box-shadow: 0 0 0 2px rgb(var(--font-color)) inset;

        .bucket-image-container {
            display: flex;
            justify-content: center;
            align-items: center;    
            
            .fallback-icon {
                stroke: rgb(var(--font-color));
                fill: rgb(var(--font-color));
                width: 1rem;
                height: 1rem;
            }
        }

        .target-icon {
            fill: rgb(var(--primary));
            width: 2rem;
            height: 2rem;
        }

        &.selected{
            box-shadow: 0 0 0 4px rgb(var(--primary)) inset;
            svg {
                animation: float 2s ease-in-out infinite;
            }
        }        
    }
}

.oeuvre-hover-card-container {
    --node: #{variables.$node_small}px;
    @media only screen and (min-width: 500px) {
        --node: #{variables.$node_medium}px;
    }

    display: flex;
    position: absolute;
    left: calc(var(--node) * -1.25);
    top: calc(var(--node) * -1.85);
    min-width: calc(var(--node) * 3);
    min-height: calc(var(--node) * 1.1);
    border-radius: 8px;
    padding-top: calc(var(--node) * 0.25);
    padding-bottom: calc(var(--node) * 0.25);
    padding-left: calc(var(--node) * 0.25);
    padding-right: calc(var(--node) * 0.25);

    border: rgb(var(--font-color)) solid 2px;
    background-color: rgb(var(--background-color));

    .oeuvre-main-info-container {
        .title {
            font-size: calc(var(--node) * 0.3);
        }
        .artist-container {
            font-size: calc(var(--node) * 0.2);
        }
        .genre-container {
            font-size: calc(var(--node) * 0.15);
            .button {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }
}
 
@keyframes float {
    0% {
        transform: translatey(0%);
    }
    50% {
        transform: translatey(-20%);
    }
    100% {
        transform: translatey(0%);
    }
}
