@use "src/lib/style/variables";

.oeuvre-node-container {
    --node: #{variables.$node_small}rem;
    @media only screen and (min-width: 500px) {
        --node: #{variables.$node_medium}rem;
    }

    .oeuvre-cover-container {
        width: var(--node);
        height: var(--node);
        border-radius: 50%;
        
        .bucket-image-container {
            display: flex;
            justify-content: center;
            align-items: center;    
            
            .fallback-icon {
                stroke: rgb(var(--font-color));
                fill: rgb(var(--font-color));
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

.oeuvre-hover-card-container {
    --node: #{variables.$node_small}rem;
    @media only screen and (min-width: 500px) {
        --node: #{variables.$node_medium}rem;
    }

    display: flex;
    position: absolute;
    left: calc(var(--node) * -1.25);
    top: calc(var(--node) * -1.85);
    min-width: calc(var(--node) * 3);
    min-height: calc(var(--node) * 1.1);
    border-radius: 8px;
    padding-top: calc(var(--node) * 0.25);
    padding-bottom: calc(var(--node) * 0.25);
    padding-left: calc(var(--node) * 0.25);
    padding-right: calc(var(--node) * 0.25);

    border: rgb(var(--font-color)) solid 2px;
    background-color: rgb(var(--background-color));

    .oeuvre-main-info-container {
        .title {
            font-size: calc(var(--node) * 0.3);
        }
        .artist-container {
            font-size: calc(var(--node) * 0.2);
        }
        .genre-container {
            font-size: calc(var(--node) * 0.15);
            .button {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }
}

