.oeuvre-search-view-container {
    >:not(:first-child) {
        margin-top: 2rem;
    }
    .search-form {
        >:not(:first-child) {
            margin-top: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }

    .search-panel-container {
        width: 100%;
    }
}