.oeuvre-search-view-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    >:not(:first-child) {
        padding-top: 2rem;
    }

    .search-panel-container {
        width: 100%;
        @media only screen and (min-width: 500px) {            
            max-width: 400px;
        }
    }
}