@import "src/lib/style/atomicMixin";

.pending-change-container {
    @include flex-col;
    @include box-shadow-2(rgb(var(--font-color)));
    @include rounded-lg;
    @include p-md;
    @include child-top-m(0.5rem);

    .change-main-container {
        @include flex-col;
        .change-type {
            @include text-sm;
            color: rgba(var(--font-color), 0.5)
        }

        .title-container {
            @include text-lg;
        }
    }

    .position-info-container {
        @include flex-col;
        .position-icon {
            width: 1rem;
            height: 1rem;

            &.fill-success {
                @include fill-sm(rgb(var(--success)))
            }
        
            &.fill-danger {
                @include fill-sm(rgb(var(--danger)))
            }    
        }

        .position-container {
            @include flex;
            @include align-center;
        }
    }

    .button-container {
        @include text-sm;
        @include p-xs;
    }


    &.bg-success {
        background-color: rgba(var(--success), 0.2);
    }

    &.bg-warning {
        background-color: rgba(var(--warning), 0.2);
    }

    &.bg-danger {
        background-color: rgba(var(--danger), 0.2);
    }
}