@import "src/lib/style/atomicMixin";

.profile-user-info-component {
    @include flex-col;
    @include justify-center;
    font-size: calc(var(--base-size) * 1.5);

    &.profile-user-info-component--pointer {
        @include pointer;
    }

    .profile-user-info-component__mutable-id {
        @include flex;
        @include align-center;
    }

    .profile-user-info-component__nickname{
        @include flex;
        @include align-center;
        color: rgba(var(--font-color), 0.5);
        font-size: calc(var(--base-size) * 1.25);
    }
}
