@import "src/lib/style/mixin";
@import "src/lib/style/atomicMixin";

.confirm-component {
    @include flex;
    @include flex-center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(var(--modal-backdrop), 0.8);
    z-index: 2;

    .confirm-component__main-container {
        @include rounded-lg;
        @include flex;
        @include flex-col;
        @include align-center;
        width: 256px;
        height: 256px;
        background-color: rgba(var(--modal-background), 1);
        > :last-child {
            border-top: solid rgba(var(--font-color), 0.5) 1px;
        }

        @media only screen and (min-width: 500px) {
            width: 300px;
        }

        .confirm-component__body-container {
            @include w-full;
            @include flex;
            @include flex-center;
            flex-grow: 1;
            .confirm-component__body-inner-container {
                @include w-full;
                @include flex;
                @include flex-center;
                @include margin-(calc(var(--base-size) * 1.5));
                line-height: 180%;
            }
        }

        .confirm-component__input-container {
            flex-grow: 1;

            .confirm-component__input {
                @include flex;
                @include box-shadow-2(rgba(var(--font-color), 0.8));
                @include rounded-lg;
                background-color: rgba(var(--background-color), 0.9);
                height: calc(var(--base-size) * 2.5);
                padding: calc(var(--base-size) * 0.25);
                border: 0;
            }
        }

        .confirm-component__button-container {
            @include flex;
            @include w-full;
            min-height: 60px;
            > :not(:first-child) {
                border-left: solid rgba(var(--font-color), 0.5) 1px;
            }

            .confirm-component__button {
                @include flex;
                @include flex-center;
                @include w-full;
                @include pointer;

                &.confirm-component__button--destructive {
                    color: rgba(var(--danger), 0.8)
                }
            }
        }
    }
}
