@import "src/lib/style/mixin";
@import "src/lib/style/atomicMixin";

.modal-component {
    @include flex;
    @include flex-center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(var(--modal-backdrop), 0.8);

    .modal-component__main-container {
        @include rounded-lg;
        @include flex;
        @include flex-col;
        @include align-center;
        width: 320px;
        height: 400px;
        background-color: rgba(var(--modal-background), 1);

        @media only screen and (min-width: 500px) {
            width: 400px;
        }
        
        .modal-component__title-container {
            @include flex;
            @include flex-center;
            @include padding-(calc(var(--base-size) * 0.5));
            width: 100%;
            font-weight: bold;
            .modal-component__title-placeholder {
                @include flex;
                @include flex-center;
                width: 15%;
            }

            .modal-component__title {
                @include flex;
                @include flex-center;
                width: 70%;
            }

            .modal-component__close-button {
                @include flex;
                @include flex-center;

                width: 1rem;
                height: 1rem;
                fill: rgb(var(--font-color))
            }
        }
        
        .modal-component__body-container {
            @include custom-scroll;
            @include w-full;
            @include h-full;
            flex-grow: 1;
            border-top: rgba(var(--true-gray), 0.5) 0.25px solid;
            
            .modal-component__body-inner-container {
                @include flex;
                @include padding-(calc(var(--base-size) * 1.5));
            }
        }
    }   
}

body:has(.modal-component) {
    overflow:hidden;
}