@import "src/lib/style/mixin";
@import "src/lib/style/atomicMixin";

.modal-component {
    @include flex;
    @include flex-center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(var(--modal-backdrop), 0.8);

    .modal-component__main-container {
        @include rounded-lg;
        @include flex;
        @include flex-col;
        @include align-center;
        width: 320px;
        height: 400px;
        background-color: rgba(var(--modal-background), 1);

        @media only screen and (min-width: 500px) {
            width: 400px;
        }
        
        .modal-component__title-container {
            @include w-full;
            border-bottom: rgba(var(--true-gray), 0.5) 0.25px solid;
            .modal-component__title-inner-container {
                @include flex;
                @include flex-center;
                @include margin-(calc(var(--base-size) * 0.5));
                .modal-component__title-placeholder {
                    @include flex;
                    @include flex-center;
                    width: 15%;
                }
    
                .modal-component__title {
                    @include flex;
                    @include flex-center;
                    width: 70%;
                }
    
                .modal-component__close-button {
                    @include flex;
                    @include flex-center;
    
                    width: calc(var(--base-size) * 0.75);
                    height: calc(var(--base-size) * 0.75);
                    fill: rgba(var(--font-color), 0.8)
                }
            }
        }
        
        .modal-component__body-container {
            @include custom-scroll;
            @include w-full;
            @include h-full;
            flex-grow: 1;
            
            .modal-component__body-inner-container {
                @include flex;
                @include margin-(calc(var(--base-size) * 1.5));
            }
        }
    }   
}

body:has(.modal-component) {
    overflow:hidden;
}