.account-interaction-container {
    display: flex;
    align-items: center;
    
    .button-container {
        width: 100%;
    }

    .more-action-icon-container {
        display: none;
        svg {
            stroke: rgb(var(--font-color));
            fill: rgb(var(--font-color));
            width: 1rem;
            height: 1rem;
        }
    }

    >:not(:first-child) {
        margin-left: 0.5rem;
        margin-top: 0rem;
    }
    
    @media only screen and (min-width: 500px) {
        .more-action-icon-container {
            display: inline;
        }
    }

}