.following-info-container {
    font-size: 0.9rem;
    display:flex;
    >:not(:first-child) {
        margin-left: 1rem;
    }

    .following-info {
        :not(:first-child) {
            margin-left: 0.25rem;
        }
        a {
            color: rgb(var(--font-color));
            text-decoration: none;
        }
        em {
            font-style: normal;
            font-weight: bold;
        }
    }
}
