@import "src/lib/style/atomicMixin";

.profile-image-container {
    width: fit-content;
    border-radius: 50%;

    .profile-image {
        border-radius: 50%;
    }

    .fallback-image {
        width: 100%;
        border-radius: 50%;
        @include box-shadow-2(rgb(var(--font-color)));

        stroke: rgb(var(--font-color));
        stroke-width: 0.5px;
    }
}
