@import "src/lib/style/mixin";
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

body {
    padding: 0;
    margin: 0;
    @include custom-scroll;
}
    
#root {
    overflow: hidden;
}

select, button, button:disabled {
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: 0;
    padding-block: 0;
    padding-inline: 0;
    font-size: inherit;
}

input {
    color: inherit;
}

textarea {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
}

:root {
    --font-color: 255, 255, 255;
    --weak-font-color: 168, 168, 168;

    // 배경 밝기에 따른 적응형 색상 변수
    --light-font-color: 240, 240, 240;
    --dark-font-color: 16, 16, 16;

    --background-color: 24, 28, 24;
    --modal-background: 36, 36, 36;
    --modal-backdrop: 12, 12, 12;

    --dark-gray: 51, 51, 51;
    --true-gray: 128, 128, 128;

    --primary: 43, 166, 137;
    --info: 0, 167, 195;
    --success: 0, 188, 93;
    --warning: 243, 133, 0;
    --danger: 255, 69, 58;

    --base-size: 1rem;
    color: rgb(var(--font-color));
    background-color: rgb(var(--background-color));
    font-family: "Wanted Sans Variable";
}