@import "src/lib/style/variables.module";
@import "src/lib/style/atomicMixin";

.info-card-template {
    @include flex-col;
    flex-grow: 1;
    @media only screen and (min-width: 500px) {
        @include flex-row;
        @include child-left-m(var(--base-size));
    }

    &.mini-view {
        @include flex-row;
        @include child-left-m(calc(var(--base-size) * 1.25));
    }

    &.info-card-template__main-container--pointer {
        @include pointer;
    }

    .info-card-template__cover-container {
        @include flex;
        @include align-center;
        @include box-shadow-2(rgb(var(--font-color)));
        @include rounded-lg;
        z-index: 2;
        min-width: 30%;
        max-width: 30%;
        height: fit-content;
        align-self: center;
        aspect-ratio: 1;
        object-fit: cover;

        &.info-card-template__cover-container--round {
            @include rounded-full;
        }

        &.info-card-template__cover-container--full {
            min-width: 0%;
            max-width: 0%;
            margin-right: calc(var(--base-size)* -1);
            @media only screen and (min-width: 500px) {
                min-width: 30%;
                max-width: 30%;
                width: 30%;
                margin-right: 0;
            }
        }

        &.info-card-template__cover-container--mini {
            --cover-size: calc(var(--node-small) * 1px);
            min-width: var(--cover-size);
            max-width: var(--cover-size);
            min-height: var(--cover-size);
            max-height: var(--cover-size);
        }

        // COMMENT 다른 계층 구조에서 사용되는 선택자임을 주의
        &.info-card-template__cover-container--mobile {
            width: 50%;
            @media only screen and (min-width: 500px) {
                display: none;
            }
        }
        
        // COMMENT 다른 계층 구조에서 사용되는 선택자임을 주의
        &.info-card-template__cover-container--disabled {
            display: none;
        }
    }

    .info-card-template__info-container {
        @include w-full;
        @include flex-col;
        @include justify-center;
        @include child-top-m(calc(var(--base-size) * 0.5));
        flex-grow: 1;

        .info-card-template__main-container {
            @include w-full;
            @include flex;
            @include align-center;
            @include child-left-m(var(--base-size));
            @media only screen and (min-width: 500px) {
                @include child-left-m(0);
            }

            font-size: calc(var(--base-size) * 0.7);
            line-height: calc(var(--base-size) * 1.2);

            .info-card-template__main-info-container {
                @include w-full;
                @include child-top-m(calc(var(--base-size) * 0.75));

                .info-card-template__title {
                    @include flex;
                    @include align-center;
                    font-size: calc(var(--base-size) * 1.5);
                }
            }
        }

        .info-card-template__sub-container {
            @include child-top-m(calc(var(--base-size) * 0.5));
            .info-card-template__main-info {
                font-size: calc(var(--base-size) * 0.8);
            }
        }
    }
}