@import "src/lib/style/atomicMixin";

.info-card-template {
    @include flex;
    // COMMENT - 배수 조정 시 하단의 disable-partition-on-mobile 함께 수정 필요
    @include child-left-m(var(--base-size));
    flex-grow: 1;
    .info-card-template__cover-outer-container {
        @include flex;
        @include align-center;
        min-width: 30%;
        max-width: 30%;

        &:has(.disable-partition-on-mobile) {
            width: 0px;
            min-width: 0%;
            max-width: 0%;
            // COMMENT - 상단의 child-left-m과 함께 수정 필요
            margin-right: calc(var(--base-size)* -1);
            @media only screen and (min-width: 500px) {
                min-width: 30%;
                max-width: 30%;
                margin-right: 0;
            }
        }

        .info-card-template__cover-inner-container {
            aspect-ratio: 1;
            width: 100%;
            object-fit: cover;
        }
    }

    .info-card-template__main-container {
        @include flex-col;
        @include justify-center;
        @include child-top-m(calc(var(--base-size) * 0.5));
        flex-grow: 1;
        .info-card-template__title {
            font-size: calc(var(--base-size) * 1.3);
        }

        .info-card-template__info-container {
            @include child-top-m(calc(var(--base-size) * 0.5));
            .info-card-template__main-info {
                font-size: calc(var(--base-size) * 0.8);
            }

            .info-card-template__sub-info {
                font-size: calc(var(--base-size) * 0.7);
                line-height: calc(var(--base-size) * 1.2);
            }
        }
    }
}