@import "src/lib/style/variables.module";
@import "src/lib/style/atomicMixin";

.oeuvre-pentagon-wrapper-component {
    @include flex;
    --outer-size: calc(var(--node) * var(--pentagon-outer-container-multiplier));
    width: var(--outer-size);
    height: var(--outer-size);

    .oeuvre-pentagon-wrapper-component__parent {
        position: relative;
        width: 0px;
        height: 0px;
        left: 50%;
        top: 50%;

        .oeuvre-pentagon-wrapper-component__pentagon {
            @include stroke-sm(rgb(var(--font-color)));
            @include fill-sm(none);
            --pentagon-size: calc(var(--node) * var(--pentagon-inner-component-multiplier));
            width: var(--pentagon-size);
            height: var(--pentagon-size);
            transform: translate(-50%, -53%);
        }
    }
}