@use "src/lib/style/variables";

.position-adjuster-component {
    touch-action: none;
    -ms-touch-action: none;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(var(--background-color));
    z-index: 2;
      
    &.position-adjuster-component--shadowDeleted {
        z-index: 1
    }
}
